<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Algo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap-toggle.css') }}">
    <style>
        .trade-right {
            float: right;
        }

        .trade-area {
            width: 100%;
            padding: 15px 30px;
            background-color: #1e1a23;
        }

        span {
            color: white;
            font-weight: strong
        }

        .profit {
            color: green;
            font-weight: strong
        }

        .loss {
            color: red;
            font-weight: strong
        }

        .row {
            padding: 5px !important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='stylesheets/bootstrap-toggle.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $.get('/connect').then(msg => {
                console.log(msg)
                if (msg) {
                    if (msg['algo_status']) {
                        $("#algo_status").bootstrapToggle('on')
                    } else {
                        $("#algo_status").bootstrapToggle('off')
                    }
                    if (msg['algo_mode']) {
                        $("#algo_mode").bootstrapToggle('on')
                    } else {
                        $("#algo_mode").bootstrapToggle('off')
                    }
                }
            });
            setInterval(function () {
                $.get('/message').then(response => {
                    $("#content").html(response)
                })
            }, 1000)
            setInterval(function () {
                $.get('/refresh')
            }, 2000)
            $("#algo_status").on('change', function () { // on change of state
                if (this.checked) // if changed state is "CHECKED"
                {
                    $.post({url: '/clientEvent', data: {'algo_status': 'start'}})
                } else {
                    $.post({url: '/clientEvent', data: {'algo_status': 'stop'}})
                }
            })
            $("#algo_mode").on('change', function () { // on change of state
                if (this.checked) // if changed state is "CHECKED"
                {
                    $.post({url: '/liveMode', data: {'algo_mode': 'live'}})
                } else {
                    $.post({url: '/liveMode', data: {'algo_mode': 'paper'}})
                }
            })
            $("#algo_mode").on('click', function () { // on change of state
                $.get('/exit_all')
            })

            $("#submit").click(function () {
                var enctoken = $("#enctoken").val()
                $.post({url: '/enctoken', data: {'enctoken': enctoken}})
            })
        });

    </script>
</head>
<body>
<div class="trade-area">
    <div clas="container">
        <div class="row">
            <div class="col-lg-12">
                <input type="button" id="exit_all" value="Exit All Position" class="btn btn-danger btn-sm"
                       style="width:100%"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                    Token
                </button>
            </div>
            <div class="col-xs-4">
                <label class="checkbox-inline">
                    <input type="checkbox" id="algo_status" data-toggle="toggle" data-size="sm" data-on="Start"
                           data-off="Stop" data-onstyle="success" data-offstyle="danger">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="checkbox-inline">
                    <input type="checkbox" id="algo_mode" data-toggle="toggle" data-size="sm" data-on="Live"
                           data-off="Paper" data-onstyle="success" data-offstyle="warning">
                </label>
            </div>
        </div>
        <div id="content">
            {% block profit %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Token</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <textarea id="enctoken" placeholder="enctoken" rows="10" style="width: 100%"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="submit">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>